.dart_tool/
.idea/
.vscode/
build/
coverage/
.packages
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
.DS_Store
*.log
.env*
api_test